@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Erro</h1>
<h2 class="text-danger">Um erro ocorreu enquanto processava a sua requisição.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Id da requisição:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo desenvolvedor</h3>
<p>
    Troque para o ambiente de desesnvolvimento a fim de encontrar informações mais detalhadas sobre o que aconteceu.
</p>
<p>
    <strong>O ambiente de desenvolvimento não deve ser habilitado para implantar aplicações.</strong>
    Isso pode resultar na exibição de informações confidenciais de exceções para os usuários finais.
    Para debugar localmente, habilite o <strong>ambiente de desenvolvimento</strong> definindo a variável de ambiente<strong>ASPNETCORE_ENVIRONMENT</strong> como <strong>Desenvolvimento</strong>
    e reinicie o aplicativo.
</p>
